#images{
       width: 98%;
       height: auto;
}
.gallery-images-li {
    display: block;
    width: 200px;
    float: left;
    margin: 10px;
}
.gallery-images{
    display: block;
    margin-bottom: 50px;
}


#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #66A3D3; }
#selectable .ui-selected { background: #66A3D3; color: white; }
#selectable { border: 1px solid #66A3D3; list-style-type: none; margin: 0; padding: 20px; height: 600px; width: 88%;}
#selectable li { margin: 3px; padding: 1px; float: left; width: 209px; height: 135px; font-size: 4em; text-align: center; }
.ui-selected img { opacity: 0.4; }
.ui-selecting img { opacity: 0.4; }