/* CSS Document */


@font-face {
    font-family: 'Eurostile';
    src: url('eur/eurostile-reg-webfont.eot?') format('eot'),
         url('eur/eurostile-reg-webfont.woff') format('woff'),
         url('eur/eurostile-reg-webfont.ttf') format('truetype'),
         url('eur/eurostile-reg-webfont.svg#webfontYbRlyqv8') format('svg');
    font-weight: normal;
    font-style: normal;

}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

* {
    outline: none;
}



body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #444444;
	font-family: "Segoe UI",Arial,Helvetica,sans-serif;
	background-image: url(../images/temp-bg-body.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}

img {
	border: none;
}

a {
	color: #e63b00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


* {
	margin: 0;
	padding: 0;
	outline: none;
}

.clear {
	clear: both;
}


.menu-top {
	height: 59px;
	border-bottom: 1px dotted #b4b4b4;
	background-color: #FFF;
}

.width1124 {
	width: 1124px;
	margin: 0 auto;
}

.content-bg {
	width: 1124px;
	margin: 0 auto;
	background-image: url(../images/bg-content.png);
	background-repeat: repeat-y;
}

.content {
	border: 6px solid #ececec;
	margin: 0px 11px;
	background-image: url(../images/bg-right-column.png);
	background-repeat: repeat-y;
	background-position: right;
}

.header {
	height: 140px;
	background-color: #FFF;
}
	

.logo {
	float: left;
	width: 260px;
	height: 110px;
	margin-left: 40px;
	margin-top: 16px;
}

.banner-top {
	float: right;
	margin-right: 23px;
	margin-top: 25px;	
	border: 1px solid #4f5961;
	
}


.menu-bg {
	height: 50px;
	border-top: 1px solid #a8a8a8;
	border-bottom: 1px solid #a8a8a8;
	margin: 0 1px;
	background-color: #f89e23;
	/*outline: 1px solid #DDDDDD;*/
}

/**/


.column-left {
	width: 686px;
	float: left;
}

.column-right {
	float: right;
	width: 402px;
	margin-right: 1px;
}

.news-block {
	background-color: #fafafa;
	border: 1px solid #f3f2f2;
	border-bottom: 0;
	margin: 12px;
	margin-top: 0;
	border-top: 0;
	background-image: url(../images/bg-news-block.png);
	background-repeat: no-repeat;
	background-position: center bottom;
 }
/*bris*/
.img-block img {
	border: 1px solid #eeeeee;
}

.img-block {
	position: relative;
	margin-left: 12px;
	margin-top: 12px;

}



.news-block-title {
	position: absolute;
	bottom: 0;
	margin: 1px;
	background-image: url(../images/bg-title.png);
}

.news-block-title h2{
	margin: 0;
	padding: 0;
}

.news-block-title h2 a {
	font-size: 18px;
	line-height: 22px;	
	display: block;
	color: #FFF;
	height: 48px;
	width: 630px;
	padding: 10px 15px;
	text-decoration: none;
	text-shadow: 1px 1px 2px #000;
}

.news-block-title h2 a:hover {
	color: #f89e23;
}
/***/
.news-block-info {
	height: 60px;
	line-height: 58px;
	color: #7e7f7f;
	font-size: 16px;
	padding-left: 14px;
	font-family: Eurostile, "Segoe UI", Arial, Helvetica, sans-serif;
}

.news-block-lead {
	font-size: 15px;
	margin: 0 15px 35px 15px;
}

.news-block-content {
	font-size: 15px;
	margin: 0 15px 35px 15px;
}

.news-block-content p {
	margin-bottom: 15px;
	margin-top: 15px;

}

.news-block-content p.lead {
	font-weight: bold;

}

.news-block-content p.caption {
	margin: 0;
	font-size: 14px;
	color: #666;
	line-height: 1;
	font-style: italic;
	padding-bottom: 10px;
}

.news-block-content h2 {
	margin: 10px 0;
	color: #E63B00;
	font-size: 22px;
}


span.separator {
	width:1px;
	height: 25px;
	margin-left: 8px;
	margin-right: 11px;
	background-image: url(../images/bg-separator.png);
	background-repeat: no-repeat;
	background-position: right 2px;
}

span.separator-small {
	width:1px;
	height: 25px;
	margin-left: 3px;
	margin-right: 8px;
	background-image: url(../images/bg-separator.png);
	background-repeat: no-repeat;
	background-position: right 4px;
}

.readmore {
	height: 47px;
	line-height: 47px;
	background-image: url(../images/bg-readmore.png);
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 16px;
	text-transform: uppercase;
}

.readmore a {
	float: right;
	margin-right: 14px;
	font-family: "Segoe UI", "Lucida Grande", sans-serif;
}


.subcontent {
	background-image: url(../images/bg-readmore.png);
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 16px;
	text-transform: uppercase;
	padding: 15px;
}



.subcontent p.tags {
	padding: 0px 5px 10px 0px;
}

.subcontent p.tags a {
	margin-right: 5px;
    background-color: #e63b00;
	color: #fff;
    padding: 2px 5px;
    text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.subcontent p.tags a:hover {
	color: #e63b00;
    background-color: #000;
} 






.ar1 {
	font-size: 13px;
	color: #e2744e;
}

.ar2 {
	font-size: 10px;
	color: #e0ac9a;
}

.ar3 {
	font-size: 7px;
	color: #e2d9d6;
}


.box-classic {
	border-bottom: 1px solid #eeeeee;
}


.box-classic ul {
	margin: 20px 0 15px 25px;
	padding: 0;
	font-size: 16px;
	line-height: 1.1;
	color: #F89E23;
}

.box-classic ul li {
	margin-bottom: 7px;
}

.box-classic ul.type2 {
	list-style: none;
	margin: 20px 0 15px 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.1;
	color: #F89E23;

}

.box-classic ul.type2 li {
	margin: 0;
}

.box-classic ul.type2 li a{
	display: block;
	padding: 3px 10px;
	margin: 5px 0;
	border-left: 2px solid #f9f9f9;
}

.box-classic ul.type2 li a:hover {
/*	color: #000; */
	text-decoration: none; 
	border-left: 2px solid #F89E23;

}

.box-inside {
	padding: 8px;
	padding-bottom: 0;
	color: #4f5961;
	font-size: 13px;
}

.box-inside img {
	border: 1px solid #eeeeee;	
}

.box-classic h3 {
	height: 40px;
	line-height: 38px;
	border-top: 1px solid #FFF;	
	border-bottom: 1px solid #eeeeee;
	background-color: #f3f3f4;
	font-size: 18px;
	font-weight: normal;
	color: #f89e23;
	padding-left: 9px;
}

.box-inside h4 {
	color: #444444;
	margin-top: 8px;
	font-size: 18px;
	line-height: 1.1;
	margin-bottom: 8px;
	font-weight: normal;
}

.box-inside h5 {
	color: #444444;
	margin-top: 9px;
	font-size: 16px;
	margin-bottom: 4px;
	font-weight: normal;
}

.left {
	float: left;
}
.right {
	float: right;
}

.box-classic-bottom {
	height: 30px;
	line-height: 27px;
	margin-top: 15px;
}

.box-banner {
	background-color: #eeeeee;
	border-left: 1px solid #FFF;
	border-top: 1px solid #FFF;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

}


.item { }
.item img {
	float: left;
	margin-right: 8px;
	border: 1px solid #eeeeee;
 }




/****tabs****/

.div-box-tab-list {
	border-bottom: 1px solid #eeeeee;
	background-image: url(/images/bg-tabs.png);
	background-repeat: repeat-x;	
}

ul.idTabs {
	list-style:none;
	margin:0 !important;
	padding:0;
	height:65px;
}

ul.idTabs li {
	text-transform: uppercase;
	
float:left;
text-indent:0;
padding:0;
margin:0 !important;
list-style-image:none !important;
}

ul.idTabs a {
font-size:18px;
display:block;
height: 40px;
width: 157px;
line-height:37px;
text-align:center;
text-decoration:none;
color:#f89e23;
margin:0px;
padding:0px;
position:relative;
text-shadow: 1px 1px 0px #fff;

}

ul.idTabs a:active {
outline:none;
}

ul.idTabs a:hover {
color:#777;
text-shadow: 1px 1px 0px #fff;
}

ul.idTabs a.selected, ul.idTabs a.selected:hover, ul.idTabs li.selected a {
	cursor:default !important;
	color:#fefefe !important;
	height: 65px;
	background-image: url(../images/bg-tab.png);
	background-repeat: no-repeat;
	background-position: center top;
	line-height: 38px;
	top: -1px;
	text-shadow: 1px 1px 0px #777;
}


/****top list****/

ul.toplist {
	list-style: none;
	margin: 0;
	margin-left: 1px;
	padding: 0;
}

ul.toplist li {
	margin-top: 1px;

}

ul.toplist li.odd {
	background-color: #fdfdfd;
	
}

ul.toplist li a {
	border-bottom: 1px solid #eeeeee;
	display: block;
	height: 40px;
	line-height: 39px;
	font-size: 16px;
	color: #444444;
}

ul.toplist li a:hover {
	text-decoration: none;
	background-color: #fafaf8;
	color: #000;
	color: #F00;;
}

ul.toplist li a span {
	color: #e63b00;
	font-size: 18px;
	font-weight: bold;
	border-right: 1px solid #eeeeee;
	display: block;
	height: 40px;
	width: 46px;
	float: left;
	text-align: center;
	margin-right: 13px;
}


.box-bottom,
.box-toplist-bottom {
	height: 30px;
	line-height: 27px;
	margin-top: 15px;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 13px;
}


.foto {
	border-left: 1px solid #FFF;
	border-top: 1px solid #FFF;
	text-align: center;
	background-image: url(../images/bg-foto.png);
	background-repeat: repeat-x;
	background-position: top;
	padding-top: 50px;
	padding-bottom: 20px;
}

.foto img {
	border: 1px solid #FFF;
	-moz-box-shadow: 0px 0px 9px #999; /* Firefox */
	-webkit-box-shadow: 0px 0px 9px #999; /* Safari/Chrome */
	box-shadow: 0px 0px 9px #999; /* Opera and other CSS3 supporting browsers */

}


/*********/

.img-block2 img {
	border: 1px solid #eeeeee;
}

.img-block2{
	position: relative;
	margin-left: 12px;
	margin-top: 12px;

}


.img-block2 h2 a {
	width: 660px;
	height: 410px;
	position: absolute;
	top: 1px;
	left: 1px;
	font-size: 18px;
	line-height: 22px;
	text-decoration: none;
	text-shadow: 1px 1px 2px #000;
	color: #FFF;

}

.img-block2 h2 a:hover {
	color: #f89e23;
}


.img-block2 h2 a span {
	margin-top: 340px;
	background-image: url(../images/bg-title.png);
	height: 50px;
	width: 630px;
	padding: 10px 15px;
	display: block;
}


.news-block .title {
	padding: 14px;
	padding-bottom: 0;
	/*background-color: #000;
	height: 72px;*/
	}

.news-block .title h1 {
	font-size: 28px;
	line-height: 32px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	color: #E63B00;
}

.footer {
	background-color: #ECECEC;

	margin-top: -1px;
	padding-top: 4px;
}

.footer-inner {
	background-color: #f89e23;
	padding: 28px;
	/*-moz-box-shadow: inset 0 0 30px #666;
	-webkit-box-shadow: inset 0 0 30px #eee;
	box-shadow: inner 0 0 30px #eee;*/

}

.footer-inner .left {
	width: 688px;
	border-right: 1px solid #e99521;

}

.footer-inner .right {
	width: 317px;
}

.footer-inner .right h2 {
	font-size: 16px;
	color: #000;
	margin-bottom: 10px;
}


.footer-inner .right p {
	font-size: 13px;
	line-height: 1;	
	margin-bottom: 20px;
	color: #000;
}



.footer-inner .right label {
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}

.footer-inner .right span {
	font-size: 10px;
	line-height: 1;
}

.footer-inner .right input.entryfield {
	width: 95%;
	height: 27px;
	line-height: 27px;
	padding: 3px;
	color: #e99521;
	margin-bottom: 10px;
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: "Segoe UI",Arial,Helvetica,sans-serif;
}


.footer-inner .right input.button {
	background: #e3e3e3;
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font-family: "Segoe UI",Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1;
	padding: 6px 0 8px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 90px;
	margin-bottom: 10px;
}

.footer-inner .right input.button:hover {
	background: #d9d9d9;
	-moz-box-shadow: inset 0 0 1px 1px #eaeaea;
	-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
	box-shadow: inset 0 0 1px 1px #eaeaea;
	color: #222;
	cursor: pointer;
}

.footer-inner .right input.button:active {
	background: #d0d0d0;
	-moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
	-webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
	box-shadow: inset 0 0 1px 1px #e3e3e3;
	color: #000;
}






.bottom-menu {
	border-top: 1px solid #e99521;
	padding: 6px;
	background-color: #f89e23;
}

.bottom-menu img {
	float: left;
}


.bottom-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	margin-left: 6px;
}

.bottom-menu ul li{
	margin: 0;
	padding: 0;
	float: left;
	text-transform: uppercase;
	font-size: 14px;
	color: #FFF;
	margin-right: 1px;
}

.bottom-menu ul li a {
	display: block;
	background-color: #000;
	padding: 2px 5px;
	text-decoration: none;
}

.bottom-menu ul li a:hover {
	background-color: #e63b00;
	color: #FFF;
}

.footer-inner iframe {
	border: 10px solid #000;

}

.footer h3 {
	height: 40px;
	line-height: 38px;
	border-top: 1px solid #67420f;	
	border-bottom: 1px solid #e99521;
	background-color: #000;
	font-size: 18px;
	font-weight: normal;
	color: #f89e23;
	padding-left: 9px;
	margin-top: 2px;
}




.finish {
	font-size: 10px;
	padding: 2px;
	background-color: #ECECEC;	
	padding-top: 7px;
	}

	
	
	
	
	
/********/

.menu {
	font-size: 18px;
	height: 50px;
	line-height: 48px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	float: left;
	height: 50px;
	margin: 0;
	padding: 0;
	float: left;
	/***/
	position: relative;
}

.menu li a{
	margin: 0;
	padding: 0;
	display: block;
	padding-left: 23px;
	padding-right: 23px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	/*text-shadow: 0px 0px 2px #666666;	*/
	overflow: hidden;
}
.menu li a:hover {
	background-color: #000;
	color: #E63B00;
	height: 51px;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);	
}

.menu li a#current {
	background-color: #000;
	color: #E63B00;
}

.menu li ul {
	display: none;
}

.menu li ul li {
    float: left;
    position: relative;
}




/* specific to non IE browsers */
.menu li:hover ul {display:block; position:absolute; top:50px; left:0; width:196px; list-style: none; background-color: #de7f00;  z-index: 101; 
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 2px 2pxrgba(0, 0, 0, 0.25);

}
.menu li:hover ul li a.hide {background:#000; color:#E63B00; background-image: url(../images/arrow-red.png);
	background-repeat: no-repeat;
	background-position: right center;	height: 50px;
	line-height: 48px;
	
}
.menu li:hover ul li:hover a.hide {
	color:#E63B00;
	border:0;
	background-color: #111;
	background-image: url(../images/arrow-red.png);
	background-repeat: no-repeat;
	background-position: right center;
	height: 50px;
	line-height: 48px;

}

.menu li:hover a#current.hide {
	height: 35px;}

.menu li:hover a.hide {
	color:#E63B00; 
	background:#000; 
	height: 50px;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
	}
.menu li:hover ul li ul {display: none;}
.menu li:hover ul li a {display:block; background:#000; color:#E63B00; height: 50px; width: 150px; border:0;}
.menu li:hover ul li a:hover {
	color:#E63B00; 
	background:#111; 
	border:0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.menu li:hover ul li:hover ul {display:block; background-color: #cf7400; position:absolute; left:196px; top:0;}
.menu li:hover ul li:hover ul li a {background-color: #111;}
.menu li:hover ul li:hover ul li a:hover {
	background-color: #111;
	color: #F89E23;
	-moz-box-shadow: none;
}
.menu li:hover ul li:hover ul.left {left:-150px;}


.news-block p.tags2 {
	padding: 15px 5px 0px 15px;
	float: left;

}

.news-block p.tags2 a {
	margin-right: 5px;
    background-color: #e63b00;
	color: #fff;
    padding: 2px 5px;
    text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
	line-height: 14px;
}

.news-block p.tags2 a:hover {
	color: #e63b00;
    background-color: #000;
} 



/***Senad***/
.comments-block{
	text-transform: none !important;
}


.komentari {
    font-weight: bold;
    padding-top: 15px;
}
.commentsList {
    border-top: 1px solid #EDECEC;
    margin-top: 15px;
}
.commentsList ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.commentsList ul li {
    border: 1px dashed #E0E0E0;
    list-style: none outside none;
    margin: 4px 0;
    padding: 5px 10px 10px;
}
.comment-name {
    color: #EE0000;
    float: left;
    font-weight: bold;
}
.comment-date {
    color: #999999;
    float: right;
    font-size: 11px;
}
.comment-body {
    clear: both;
    color: #444444;
    font-size: 13px;
    padding-top: 5px;
}
.comments-send {
    margin-top: 10px;
}
.comments-send .error {
    color: #FF0000;
    float: left;
    font-size: 11px;
    line-height: 19px;
    padding-left: 5px;
}
.comments-send label {
    color: #333333;
    float: left;
    font-size: 13px;
}
.comments-send input {
    margin-bottom: 10px;
}
.comments-send textarea {
    margin-bottom: 10px;
    width: 100%;
}
.obavezno {
    color: #666666;
    font-size: 12px;
}
.charcounter {
    color: #999999;
    float: right;
    font-size: 11px;
}
.charcounter .numb {
    color: #009900;
}
.captcha {
    margin-bottom: 10px;
}


/**** In Text Gallery ***/

.gallery_container {
	margin-bottom: 15px;
}

.gallery_desc {
	float: left;
	width: 496px;
	height: 31px;
	background-color: #ededed;
	margin-top: 1px;
	font-size: 12px;
	line-height: 15px;
	padding: 5px 10px;
	font-style: italic;
	}
	
.gallery_control {
	height: 41px;
	float: right;
	margin-top: 1px;	
	}	
	
.gallery_control a {
	background-color: #e08d21;
	float: left;
	margin-left: 1px;
	height: 41px;
	}	

.gallery_control a:hover {
	background-color: #e7a652;
	}	
	
.gallery_control a:active {
	background-color: #4F5961;
	}		
	
.gallery_expand_container {
	float: left;
	width: 29px;
	height: 29px;
	display: block;
	height: 41px;
}	

.gallery_expand_container a{
	height: 29px;
	margin-left: 0;
}	


	
.gallery_expand_container span {
	background-color: #e08d21;
	text-align: center;
	color: #fff;
	font-size: 10px;
	width: 29px;
	display: block;
	height: 11px;
	line-height: 10px;
	float: left;
	margin-top: 1px;
	font-family: Arial, Helvetica, sans-serif;
	}
	
	
	
/****galleria***/


