/***************************************************
			       template
***************************************************



***************************************************
			      Reset
***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, form, img, ol, ul, li, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}


a img {border:none}



/***************************************************
			      Global styles
***************************************************/

html, body{
    font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	background:url(../images/bg-header1.gif) repeat-x 0 0;
	background-color:#EBEBEB;
	color: #666;
	margin:0 0 1px; height:100%; /* always show vertical scroll bar */
}

p {
	line-height: 1.5;
	margin-bottom:7px;
	color: #72675C;
	}
	
a, p a {
	text-decoration:none;
	color:#A1243C;
	}
	a:hover {color:#7D7264;}


h1, h2, h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	position:relative;
}

h1{
	font-size: 18px;
	line-height:0.9;
	color:#333;
	text-transform:uppercase;
	margin-top:2px;
	
	}
	
	
	
h2{
	font-size: 18px;
	line-height:0.9;
	color:#7d7264;
	text-transform:uppercase;
	height:24px;
	margin-top:2px;
	}

h3{
	font-size: 18px;
	color:#7d7264;
	height:24px;
	margin-top:12px;
	text-align:left;
	line-height:15px;

}


/***************************************************
			    Main containers
***************************************************/

#container, #container_left, #container_right{
    position: relative;
	margin-bottom:50px;		
	}
	#container{
    position:relative;
	width:980px;
	min-height:100%;
	margin:0 auto;
	background-color:transparent;
	padding-bottom:40px;

	}
	
#container_left {
	float:left;
	width:423px;
	position: relative;
	background-color:#E9E9E9;
	
	}		

#container_right {
	float: right;
	width: 540px;
	position: relative;
	padding-top:16px;


	}	

			
#header{
	position: relative;
	float:left;
	width: 100%;
	height:150px;
	z-index:1000;
	
	}
	
	
/***************************************************
				   HOLDERS
***************************************************/	

.holder_content, .holder_content_separator {
	position: relative;
	float: left;
	width: 100%;
	margin-top:6px;
	background:transparent;
	margin-left:12px;

	}
	.holder_content_separator{
	margin-bottom:15px;
	}
	

/***************************************************
				      FORMS
***************************************************/

form{
	position:relative;
	float:left;
	width:500px;
	margin:15px 0;
	padding: 0;
}

label {
	position:relative;
	float:left;
	color:#333;
	font-size:13px;
	line-height:20px;
	width:140px;
}

.textbox {
	position:relative;
	font-size:11px;
	width:189px;  
	height:12px;  
    background-color:#f2f6e5;
	color:gray;
	padding:12px 13px;
	border:1px solid #CDCDCD;

	}
	
	
	.textbox1 {
	position:relative;
	font-size:11px;
	width:100px;  
	height:12px;  
    background-color:#f2f6e5;
	color:gray;
	padding:6px 6px;
	border:1px solid #CDCDCD;


	}
	

	
	textarea, textarea-error{
	position:relative;
	font-size:11px;
	width:189px;    
	background-color:#f2f6e5;
	color:gray;
	padding:12px 13px;
	border:1px solid #CDCDCD;

	
	}

   textarea{
	padding:10px;
	width:auto;
	height:auto;
	line-height:1.6;
	margin:0;
	overflow:hidden;
	}
		

    .submit_button {
	position:relative;
	left:140px;
	color:#fff;
	text-transform:uppercase;
    font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	padding:5px 5px;
	cursor:pointer;
	width:90px;
	height:39px;
	color:white;
	padding-top:4px;
    background-color:#ff1e54;
    border:1px solid #CDCDCD;


	}
	.submit_button:hover {	
	border:none;
    color:black;
	border:1px solid #CDCDCD;

}
	
/***************************************************
			        FOOTER
***************************************************/

#footer{
	position:relative;
	padding-top:15px;
	height:50px;
	clear:both;
	background-position:bottom left;
	background-image:url(../images/bg-header.gif);
	background-repeat:repeat-x;
	width:100%;
	
}


.container{
    width:980px;
    margin:0 auto;
	background-color:transparent;
	margin-left:370px;


}

/***************************************************
				       MENU
***************************************************/

.jqueryslidemenu{
font: bold 12px Verdana;
background: #99cc33;
width: 100%;
margin-top:100px;
}

.jqueryslidemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.jqueryslidemenu ul li{
position: relative;
display: inline;
float: left;
}

.jqueryslidemenu ul li a{
display: block;
background: transparent; 
color: white;
padding: 8px 10px;
border-right: 1px solid #CCC;
color: #2d2b2b;
text-decoration: none;
}

* html .jqueryslidemenu ul li a{ 
display: inline-block;
}

.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited{
color: white;
}

.jqueryslidemenu ul li a:hover{
background:#99cc33;
color: white;
}
	
.jqueryslidemenu ul li ul{
position: absolute;
left: 0;
display: block;
visibility: hidden;

}


.jqueryslidemenu ul li ul li{
display: list-item;
float: none;

}

.jqueryslidemenu ul li ul li ul{
top: 0;


}

.jqueryslidemenu ul li ul li a{
font: normal 13px Verdana;
width: 160px; 
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;
background-color:#99cc33;

}

.jqueryslidemenuz ul li ul li a:hover{ 
background:url(images/bg-header.gif);
color: black;
}


.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/***************************************************
				   SPECIFIC
***************************************************/

#logo{
    position:relative;
   	float:left;
   	top:8px;
	left:-19px;
	width:154px;
	height:78px;
	

}

.clearing{
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow:hidden;
}

table a,
table a:link,
table a:visited {
	border:none;
	}							
	
img {
	border:0;
	margin-top:.5em;
	}	
table {
	width:100%;
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	margin:1em auto;
	border-collapse:collapse;
	}
caption {
	color:#333;
	font-size:.94em;
	letter-spacing:.1em;
	margin:1em 0 0 0;
	padding:0;
	caption-side:top;
	text-align:center;
	}	
tr.odd td	{
	background:#f7fbff;
	}
tr.odd .column1	{
	background:#f4f9fe;
	}	
	
tr:hover{
	background-color:#d3e7ac;	
	
}
.column1	{
	background:#f9fcfe;
	}
td {
	color:#678197;
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.8em 1em;
	text-align:center;
	}				
th {
	font-weight:normal;
	color: #678197;
	text-align:left;
	border-bottom: 1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	}							
thead th {
	background:#f4f9fe;
	text-align:center;
	font-weight:bold;
	color:gray;
	}	
tfoot th {
	text-align:center;
	background:#f4f9fe;
	}	
tfoot th strong {
	font:bold 1.2em ;
	margin:.5em .5em .5em 0;
	color:#66a3d3;
		}		
tfoot th em {
	color:#f03b58;
	font-weight: bold;
	font-size: 1.1em;
	font-style: normal;
	}
	
	
.pagination{
padding: 2px;
}

.pagination ul{
margin: 0;
padding: 0;
text-align: left; /*Set to "right" to right align pagination interface*/
font-size: 16px;
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.pagination a, .pagination a:visited{
padding: 0 5px;
border: 1px solid #90b421;
text-decoration: none; 
color: gray;
}

.pagination a:hover, .pagination a:active{
border: 1px solid #90b421;
color: white;
background-color: #565656;
}

.pagination a.currentpage{
background-color: #565656;
color: #FFF !important;
border: 1px solid #90b421;
font-weight: bold;
cursor: default;
}

.pagination a.disablelink, .pagination a.disablelink:hover{
background-color: white;
cursor: default;
color: #929292;
border: 1px solid #90b421;
font-weight: normal !important;
}

.pagination a.prevnext{
font-weight: bold;
}	
/***Senad***/
.subcontent .comments-block{
	text-transform: none !important;
}
