/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background-image: url(../images/bg-body.png);
	font-size: 16px;
	color: #666;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}

.clear {
	clear: both;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	border: 0;
}

a {
color: #0000cc;
text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

form {
	margin: 0;
	padding: 0;
	line-height: 0;
}


p, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}


h2 {
	margin: 0;
	padding: 0;
	color: #333;
	font-weight: 100;
	font-size: 24px;
	border-bottom: 1px solid #000;
	padding-bottom: 3px;
}



h5 {
	margin: 0;
	padding: 0;
	color: #333;
	font-weight: 100;
	font-size: 24px;
	border-top: 1px solid #000;
	margin-top: 30px;
	padding-bottom: 3px;
}




.noMargin {
	margin: 0!important;
}


.rounded {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;			
}


.header {
	height: 67px;
	background-image: url(../images/bg-header.png);
	background-repeat: repeat-x;
}


.menuContainer {
	width: 960px;
	margin: 0 auto;
	height: 65px;
	position: relative;
}


.container {
	width: 960px;
	margin: 0 auto;
	padding-top: 20px;
}

.logo {
	margin-left: 7px;
	width: 306px;
	float: left;
}

.menuBox {
	float: left;
	margin-left: 30px;
	height: 65px;
	line-height: 65px;
}

ul.menu {
    height: 65px;
    list-style: none outside none;
}

ul.menu li {
	float: left;
	margin-right: 20px;
}

ul.menu li a {
	text-transform: uppercase;
	color: #FFF;
	font-size: 16px;
	text-decoration: none;
	text-shadow: 1px 1px #333;
	font-weight: 600;
}

ul.menu li a:hover {
	text-decoration: underline;
}


.headboxContainer {
	height: 435px;
	background-color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0px 3px 3px rgba(0, 0, 0, 0.15);
	box-shadow:         0px 3px 3px rgba(0, 0, 0, 0.15);	
	margin-bottom: 10px;
}

.headboxBottom {
	text-align: center;
	padding-top: 20px;
	font-size: 14px;
	color: #4d4d4d;
}


.roundedBox {
	background-color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0px 3px 3px rgba(0, 0, 0, 0.15);
	box-shadow:         0px 3px 3px rgba(0, 0, 0, 0.15);	
	margin-bottom: 10px;
	padding: 10px;
}


.roundedBox2 {
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0px 3px 3px rgba(0, 0, 0, 0.15);
	box-shadow:         0px 3px 3px rgba(0, 0, 0, 0.15);
	margin-bottom: 10px;
	background-image: url(../images/bg-content.png);
	background-repeat: repeat-y;
	background-position: left;
		-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}


.roundedBox3 {
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0px 3px 3px rgba(0, 0, 0, 0.15);
	box-shadow:         0px 3px 3px rgba(0, 0, 0, 0.15);
	margin-bottom: 10px;
	background-image: url(../images/bg-content-right.png);
	background-repeat: repeat-y;
	background-position: right;
		-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}


.roundedBox4 {
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0px 3px 3px rgba(0, 0, 0, 0.15);
	box-shadow:         0px 3px 3px rgba(0, 0, 0, 0.15);
	margin-bottom: 10px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}





.threeImages {
	margin-bottom: 10px;
}

.threeImages img {
	margin-right: 15px;
	
}


.questionsList,
.newsList {
	width: 420px;
	margin-left: 30px;
	margin-right: 10px;
	float: left;
}




.newsList ul li {
	clear: both;
	min-height: 60px;
	margin-top: 20px;
}


.newsList ul li span {
	font-size: 12px;
	display: block;
	color: #333;

}

.questionsList .link,
.newsList .link {
	font-size: 18px;
	color: #0000cc;
	text-decoration: none;
	line-height: 18px;
}


.questionsList .link {
	line-height: 20px;
}




.questionsList .link:hover,
.newsList .link:hover {
	text-decoration: underline;
	}



.newsList img {
	float: left;
	margin-right: 15px;
}


.questionsList ul li {
	clear: both;
	margin: 0;
	min-height: 0;
}


.questionsList .qm {
	display: block;
	width: 24px;
	height: 24px;
	background-image: url(../images/qm.png);
	margin-top: 13px;
	background-repeat: no-repeat;
	float: left;
}

.menu_13 {
	display: none;
}

.newsList .pagination,
.questionsList .pagination {
	display: none;
}

.questionsList ul li img {
	float: left;
	margin-top: 13px;
}

.questionsList .qList {
	border-bottom: 1px solid #666;
	float: right;
	width: 385px;
	padding: 14px 0;
}





.smallButton {
	font-size: 10px;
	color: #333333;
	text-transform: uppercase;
	padding: 0px 4px;
	border: 1px solid #7f7f7f;
	text-decoration: none;
	float: right;
	margin-top: 10px;
}

.smallButton:hover {
	background-color: #7f7f7f;
	color: #FFF;
}


.stationList {
	margin: 0 30px;
}

.stationList img {
	margin: 15px 0;

}


.footer {
	margin: 0 30px;
	border-top: 1px solid #666;
	font-size: 12px;
	color: #333333;
	padding: 15px 0 25px 0;
}

.footer2 {
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	margin: 0;
	border-top: 1px solid #666;
	font-size: 12px;
	color: #333333;
	padding: 15px 30px 15px 30px;
	background-color: #f3f3f3;	

	
}


.footer2 span,
.footer span {
	float: right;
}

.footer2 a,
.footer a {
	color: #333;
}

.share {
	margin-top: 20px;}


.forma-pretraga {
	width: 300px;
	height: 32px;
	margin-top: 15px;
	position: absolute;
	top: 65px;
	right: 0;
	}

.forma-pretraga .button {
	width: 31px;
	height: 32px;
	border: 0;
	background-image: url(../images/bg-searchbtn.png);
	background-repeat: no-repeat;
	float: left;
}

.forma-pretraga .pretraga {
	width: 259px;
	height: 32px;
	padding: 0 5px;
	border: 0;
	background-image: url(../images/bg-search.png);
	background-repeat: no-repeat;
	float: left;
}



/***** Headbox ****/

.headbox {
	height: 350px;
	position: relative;
}

#headboxSlider {
  width: 960px;
}
.coloredBlock {
  padding: 12px;
  background: rgba(255,0,0,0.6);
  color: #FFF;
   width: 200px;
   left: 20%;
   top: 5%;
}
.infoBlock {
  position: absolute;
  top: 30px;
  right: 30px;
  left: auto;
  padding-bottom: 0;
  overflow: hidden;
  padding: 0;
}
.infoBlockLeftBlack {
  color: #FFF;
  left: 40px!important;
  top: 45px!important;  
  right: auto;
}
.infoBlock h4 {
  font-size: 36px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 3px;
  max-width: 800px;
	text-decoration: none;
	text-shadow: 1px 1px #333;
}
.infoBlock p {
  font-size: 18px;
  line-height: 22px;
  margin: 4px 0 0;
  max-width: 500px;
	text-shadow: 1px 1px #333;  
}
.infoBlock a {
  color: #FFF;
  text-decoration: underline;
}
.bigButton {
  position: absolute;
  line-height: 45px;
  font-size: 12px;
  color: #000;
  padding: 0px;
  position: absolute;
  left: 40px;
  bottom: 130px;
  top: auto;
  z-index: 190; 
  display: block;
  width: 164px;
  height: 47px;
} 
.bigButton a {
	display: block;
	width: 164px;
	height: 47px;
	background-image: url(../images/slider-dugme.png);
	background-repeat: no-repeat;
	color: #996600;
	font-size: 16px;
	text-align: center;
	text-shadow: 1px 1px #fff;
	font-weight: bold;	
}

.bigButton a:hover {
	color: #000;
	text-decoration: none;

}

.fullWidth {
  max-width: 960px;
  margin: 0 auto 24px;
}



.infoBlock .bigButton {
	position: absolute; 
	bottom: 20px;

}

@media screen and (min-width:960px) and (min-height:660px) {
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
      height: 350px !important;
  }
}

@media screen and (min-width:960px) and (min-height:1000px) {
    .heroSlider .rsOverflow,
    .royalSlider.heroSlider {
        height: 350px !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .royalSlider.heroSlider,
  .royalSlider.heroSlider .rsOverflow {
    height: 350px !important;
  }
  .infoBlock {
    padding: 10px;
    height: 100%;
    max-height: 100%;
    min-width: 40%;
    left: 0;
    top: 0;
    right: auto;
    font-size: 12px;
  }
  .infoBlock h3 {
     font-size: 14px;
     line-height: 17px;
  }
}


/****** page  *****/
.contentTitleZone {
	height: 125px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #e6e6e6;
	color: #999999;
	padding: 0 40px;
}

.contentTitleZone h1 {
	font-size: 36px;
	padding-top: 20px;
	font-weight: 600;
}

.contentTitleZone p {
	font-size: 18px;
}


.contentRight {
	padding: 40px;
	float: right;
	width: 598px;
}

.contentLeft {
	padding: 40px;
	float: left;
	width: 598px;
}

.contentRight img {
	margin-bottom: 40px;
}

.contentRight p {
	margin-bottom: 15px;
}

.listLeft {
	float: left;
	background-color: #f3f3f3;
	width: 200px;
	padding: 21px 40px;
}

.listLeft ul li {
	padding: 10px 0;
	border-bottom: 1px dashed #b6b6b6;
}


.listLeft a {
	font-weight: bold;
	font-size: 16px;
	color: #666;
}


.listRight {
	float: right;
	background-color: #f3f3f3;
	width: 200px;
	padding: 21px 40px;
}

.listRight ul li {
	padding: 10px 0;
	border-bottom: 1px dashed #b6b6b6;
}


.listRight a {
	font-size: 16px;
}



.noBorder {
	border: 0!important;
}

/*****  lista vesti  *****/

.contentList {
}

.contentList img {
	float: left;
}

.contentList .newsItem {
	float: left;
	margin-left: 40px;
	width: 535px;
}

.title {
	font-size: 24px;
}

.date {
	color: #999;
	font-size: 18px;
	padding-bottom: 22px;
}

.lead {
	font-size: 16px;
}


.contentList ul {
	margin: 0 40px 20px 40px;

}

.contentList ul li {
	border-bottom: 1px solid #cccccc;
	padding: 40px 0;
}


/**** paginacija ***/


.pagination {
	padding-bottom: 20px;
	padding-left: 40px;

}


ul.pagination {
    list-style: none outside none;
    margin: 12px 0;
    overflow: hidden;
    padding: 0;
	 margin: 0 auto;

}

ul.pagination li.current_page {
    background-color: #333;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    width: 25px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	 
	 
}
ul.pagination li {
    float: left;
    margin: 2px;
    padding: 0;
    text-align: center;
	 border: 0;
}


ul.pagination li a {
    background-color: #acacac;
    color: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;	 
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    width: 25px;
}

ul.pagination li a:hover {
    background-color: #333;
}